<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
   <title>OpenFund - Decentralized Fundraising for Visionary Projects</title>
   <link rel="icon" href="/static/app_assets/open_fund_logo.png">
   <link rel="stylesheet" href="/static/css/style.css">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
   <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</head>
<body>
   <div class="loading-spinner hidden" id="loading-spinner">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="40" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="100" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></circle><circle fill="#000000" stroke="#000000" stroke-width="15" r="15" cx="160" cy="100"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></circle></svg>
   </div>
   <!-- nav bar -->
   <div class="nav-bar">
      <div class="app-logo" onclick="window.location.href='/'">
         <img src="/static/app_assets/open_fund_logo.png" alt="OpenFund logo">
         <p>OpenFund</p>
      </div>
      <div class="nav-bar-select">
         <div class="link" onclick="window.location.href='/invest'">Invest</div>
			<div class="link" onclick="window.location.href='/blog'">Blog</div>
			<div class="link" onclick="window.location.href='/document'">Document</div>
      </div>
      <div class="authenticate">
         <button class="sign-in-up" onclick="window.location.href='/sign-up'" id="sign-in-up-btn">Log In/Sign Up</button>
         <button class="connect-wallet" id="connect-btn">
            <i class="fa-solid fa-wallet"></i>
            <div class="investor_connected_check hidden" id="investor_connected_check" style="background-color: white; color: rgb(0, 1, 69); font-size: 15px; position: absolute; bottom: -3px; right: -3px; display: flex; align-items: center; justify-content: center; border-radius: 50%;"><i class="fa-solid fa-circle-check"></i></div>
         </button>
         <button class="raiser-account hidden" id="raiser-account">
            <i class="fa-solid fa-user"></i>
         </button>
      </div>
      <button class="menu-btn">
         <i class="fa-solid fa-bars"></i>
      </button>
      <div class="investor-account-manage hidden" id="investor-account-manage">
         <p>Investor account</p>
         <input name="investor-wallet-address" id="investor-wallet-address" style="text-align: center; font-size: 12px; padding: 0; border: 0;" readonly required>
         <div class="investor-account-manage-btn" onclick="window.location.href='/edit-profile'">Edit profile</div>
         <div class="investor-account-manage-btn" id="investor-disconnect-btn">Disconnect</div>
      </div>
      <div class="raiser-account-manage hidden" id="raiser-account-manage">
         <p>Raiser account</p>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/submitted-project'">Submitted projects</div>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/raiser-profile/{{ raiser_id }}'">Profile</div>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/edit-account'">Account settings</div>
         <div class="raiser-account-manage-btn" id="raiser-log-out-btn" onclick="window.location.href='/log-out'">Log out</div>
      </div>
   </div>
   <div class="nav-bar-mobile hidden">
      <div class="link-mobile" onclick="window.location.href='/invest'">Invest<i class="fa-solid fa-arrow-right"></i></div>
      <hr>
      <div class="link-mobile" onclick="window.location.href='/blog'">Blog<i class="fa-solid fa-arrow-right"></i></div>
      <hr>
      <div class="link-mobile" onclick="window.location.href='/document'">Document<i class="fa-solid fa-arrow-right"></i></div>
      <hr>
      <div class="authenticate-mobile">
         <button class="connect-wallet-mobile" id="connect-btn-mobile">
            Connect wallet<i class="fa-solid fa-wallet"></i>
         </button>
         <button class="sign-in-up-mobile" onclick="window.location.href='/sign-up'" id="sign-in-up-mobile-btn">Log In/Sign Up</button>
         <button class="sign-in-up-mobile" id="raiser-account-mobile-btn">Raiser Account</button>
      </div>
      <div class="investor-account-manage-mobile hidden" id="investor-account-manage-mobile">
         <p>Investor account</p>
         <input name="investor-wallet-address hidden" id="investor-wallet-address-mobile" style="text-align: center; font-size: 12px; padding: 0; border: 0;" readonly required>
         <div class="investor-account-manage-btn" onclick="window.location.href='/edit-profile'">Edit profile</div>
         <div class="investor-account-manage-btn" id="investor-disconnect-btn-mobile">Disconnect</div>
      </div>
      <div class="raiser-account-manage-mobile hidden" id="raiser-account-manage-mobile">
         <p>Raiser account</p>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/submitted-project'">Submitted projects</div>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/raiser-profile/{{ raiser_id }}'">Profile</div>
         <div class="raiser-account-manage-btn" onclick="window.location.href='/edit-account'">Account settings</div>
         <div class="raiser-account-manage-btn" id="raiser-log-out-btn-mobile" onclick="window.location.href='/log-out'">Log out</div>
      </div>
      <button class="close-nav-bar-mobile-btn" id="close-nav-bar-mobile-btn">Close</button>
   </div>
   <!-- end nav bar -->

   <!-- connect wallet -->
    <div class="overlay hidden" id="overlay">
      <div class="connect-wallet-box hidden" id="connect-wallet-box">
         <button class="close-connect-wallet-btn" id="close-connect-wallet-btn">
            <i class="fa-solid fa-xmark"></i>
         </button>
         <h1>Connect wallet</h1>
         <p>(For investors only)</p>
         <hr style="width: 100px;">
         <button class="wallet_intergrated" data-wallet="metamask"><img class="wallet-icon-logo" src="/static/app_assets/metamask.png" alt="Metamask logo">Metamask</button>
         <button class="wallet_intergrated" data-wallet="binance"><img class="wallet-icon-logo" src="/static/app_assets/binance_web3.png" alt="Metamask logo">Binance Web3</button>
         <button class="wallet_intergrated" data-wallet="okx"><img class="wallet-icon-logo" src="/static/app_assets/okx_web3.png" alt="Metamask logo">OKX Web3</button>
         <button class="wallet_intergrated" data-wallet="trust"><img class="wallet-icon-logo" src="/static/app_assets/trust_wallet.png" alt="Metamask logo">Trust Wallet</button>
         <button class="wallet_intergrated" data-wallet="coinbase"><img class="wallet-icon-logo" src="/static/app_assets/coinbase_wallet.png" alt="Metamask logo">Coinbase Wallet</button>
         <p>By connecting a wallet, you agree to the OpenFund’s <a style="color:black" href="/legal#terms-of-service">Terms of Service</a> and consent to its <a style="color:black" href="/legal#privacy-policy">Privacy Policy</a>.</p>
      </div>
   </div>
   <!-- end connect wallet -->

   <div class="hero">
      <div class="hero-text">
         <h1>Decentralized <i class="fa-solid fa-circle-nodes"></i></h1>
         <h1>Fundraising Platform</h1>
         <h1>for Visionary Projects</h1>
         <p>🎯 Discover and seize early investment opportunities by engaging in secure and transparent token sales of groundbreaking projects.</p>
         <button class="get_started" onclick="window.location.href='/invest'">Get started</button>
      </div>
      <img class="hero-gif" src="/static/app_assets/hero-gif.gif">
   </div>
   <div class="description">
      <h1>Why Choose OpenFund?</h1>
      <div class="description-boxes">
         <div class="description-box"style="background-color: #85c6ff;">
            <div class="circle"><i class="fa-solid fa-o"></i></div>
            <div class="description-box-icon">
               <i class="fa-solid fa-shield-halved" style="background: linear-gradient(270deg, #2b26fe, #48ccec);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-clip: text;
               color: transparent;"></i>
            </div>
            <div class="description-box-text">
               <h1>Transparent & Secure</h1>
               <h2>Investment transactions are recorded on-chain. Smart contract-based fund distribution minimizes risks.</h2>
            </div>
         </div>
         <div class="description-box" style="background-color: #f38686;">
            <div class="circle"><i class="fa-solid fa-o"></i></div>
            <div class="description-box-icon">
               <i class="fa-solid fa-magnifying-glass-dollar" style="background: linear-gradient(270deg, #c40202, #f47286);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-clip: text;
               color: transparent;"></i>
            </div>
            <div class="description-box-text">
               <h1>Early Opportunities</h1>
               <h2>Discover and invest in promising projects before they go mainstream. Get benefits as an early supporter.</h2>
            </div>
         </div>
         <div class="description-box" style="background-color: #88e398;">
            <div class="circle"><i class="fa-solid fa-o"></i></div>
            <div class="description-box-icon">
               <i class="fa-solid fa-bars-progress" style="background: linear-gradient(270deg, #39a00a, #60de66);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
               background-clip: text;
               color: transparent;"></i>
            </div>
            <div class="description-box-text">
               <h1>Decentralized Governance</h1>
               <h2>Investors vote on fund distribution. Refund mechanism ensures safety against failed projects.</h2>
            </div>
         </div>
      </div>
   </div>
   <style>
   </style>
   <div class="invest-description-section">
      <div class="invest-description">
         <div class="invest-description-text">
            <h1>Instant token distribution.</h1>
            <p>Enter your amount and receive project tokens right after transaction done.</p>
         </div>
         <div class="invest-description-image">
            <img src="/static/app_assets/invest.png">
         </div>
      </div>
   </div>
   <div class="refund-description-section">
      <div class="refund-description">
         <div class="refund-description-image">
            <img src="/static/app_assets/refund.png">
         </div>
         <div class="refund-description-text">
            <h1>Refund mechanism.</h1>
            <p>Reclaim fund if more than 50% investment amount of the project request a refund.</p>
         </div>
      </div>
   </div>
   <div class="faq-section">
      <h1>FAQ</h1>
      <div class="faq-container">
         <div class="faq">
            <div class="toggle-faq-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="faq-content">
               <div class="question">
                  What is OpenFund?
               </div>
               <div class="answer">
                  OpenFund is a decentralized fundraising platform that enables investors to discover and invest early in promising projects while providing fundraisers with a transparent way to raise capital.
               </div>
            </div>
         </div>
         <hr>
         <div class="faq">
            <div class="toggle-faq-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="faq-content">
               <div class="question">
                  How projects are listed for fundraising?
               </div>
               <div class="answer">
                  Fundraisers submit project details to OpenFund (off-chain) for review. The platform carefully verifies each project before listing it on-chain for fundraising, ensuring security and trust. Once approved, the fundraising process is fully decentralized.
               </div>
            </div>
         </div>
         <hr>
         <div class="faq">
            <div class="toggle-faq-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="faq-content">
               <div class="question">
                  How to invest in a project?
               </div>
               <div class="answer">
                  Investors can invest in projects using USDT. Each investor can contribute up to 10 units, with 1 unit equal to 100 USDT. The number of project tokens received is calculated based on the token price. Tokens are distributed right after investing successfully.
               </div>
            </div>
         </div>
         <hr>
         <div class="faq">
            <div class="toggle-faq-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="faq-content">
               <div class="question">
                  What if a project fails?
               </div>
               <div class="answer">
                  After the funding period ends, there are 3 days investors voting on fund distribution. If more than 50% investment amount request a refund, the project is marked as 'Funding Failed' and in 1 day after that, any token holder seeking a refund can reclaim 100% of their invested funds by returning their tokens to the contract. Otherwise, the full amount is released to the fundraiser. This mechanism reduces the risk of funding projects that fail to develop.
               </div>
            </div>
         </div>
         <hr>
         <div class="faq">
            <div class="toggle-faq-icon"><i class="fa-solid fa-plus"></i></div>
            <div class="faq-content">
               <div class="question">
                  Do OpenFund charge any fee?
               </div>
               <div class="answer">
                  Yes, OpenFund charges fundraiser a 5% fee, but only for successfully funded projects.
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="submit-project-banner">
      <h1>Get listed now</h1>
      <h2>Submit project & token details for revision.</h2>
      <button class="submit-project-btn" onclick="window.location.href='/submitted-project'">Get started</button>
   </div>
   <div class="footer">
      <div class="app-info">
         <div class="app-logo-footer" onclick="window.location.href='/'">
            <img src="/static/app_assets/open_fund_logo.png" alt="OpenFund logo">
            <p>OpenFund</p>
         </div>
         <div class="term-links">
            <a href="/legal#privacy-policy">Privacy</a>
            <a href="/legal#terms-of-service">Terms</a>
            <a href="/document">Document</a>
            <a href="/blog">Blog</a>
            <a href="/legal#help-center">Help Center</a>
         </div>
         <div class="community-links">
            <i class="fa-brands fa-square-x-twitter" onclick="window.location.href='https://x.com'"></i>
            <i class="fa-brands fa-telegram" onclick="window.location.href='https://telegram.com'"></i>
            <i class="fa-brands fa-facebook" onclick="window.location.href='https://facebook.com'"></i>
            <i class="fa-solid fa-envelope" onclick="window.location.href='mailto:support@openfund.live'"></i>
         </div>
      </div>
      <div class="term-links-mobile">
         <a href="/legal#privacy-policy">Privacy</a>
         <a href="/legal#terms-of-service">Terms</a>
         <a href="/document">Document</a>
         <a href="/blog">Blog</a>
         <a href="/legal#help-center">Help Center</a>
      </div>
   </div>

   <script>
      // faq
      document.addEventListener("DOMContentLoaded", function () {
         const faqs = document.querySelectorAll(".faq");

         faqs.forEach((faq) => {
            const icon = faq.querySelector(".toggle-faq-icon i");
            const answer = faq.querySelector(".answer");

            // Initially hide all answers
            answer.style.display = "none";

            faq.addEventListener("click", function () {
                  // Close all other answers
                  faqs.forEach((otherFaq) => {
                     if (otherFaq !== faq) {
                        otherFaq.querySelector(".answer").style.display = "none";
                        otherFaq.querySelector(".toggle-faq-icon i").classList.replace("fa-minus", "fa-plus");
                     }
                  });

                  if (answer.style.display === "none") {
                     answer.style.display = "block";
                     icon.classList.replace("fa-plus", "fa-minus");
                  } else {
                     answer.style.display = "none";
                     icon.classList.replace("fa-minus", "fa-plus");
                  }
            });
         });
      });

      const menuBtn = document.querySelector('.menu-btn');
      const mobileNav = document.querySelector('.nav-bar-mobile');
      const close_nav_bar_mobile_btn = document.getElementById("close-nav-bar-mobile-btn");


      menuBtn.addEventListener('click', () => {
         mobileNav.classList.remove('hidden');
      });

      close_nav_bar_mobile_btn.addEventListener('click', () => {
         mobileNav.classList.add('hidden');
      });

      let nonce;
      nonce = "{{ nonce }}";
      let isInvstorConnecting = true;
      const investor_wallet_connected = {{ investor_connected | tojson }};
      const raiser_loggedin = {{ raiser_logged_in | tojson }};
      const shortWallet = "{{ investor_wallet_address }}".slice(0, 6) + '...' + "{{ investor_wallet_address }}".slice(-4);
   </script>
   <script src="/static/script/connect.js"></script>
   <script src="/static/script/main.js"></script>
   <script src="/static/script/nav-bar.js"></script>
</body>
</html>