<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, user-scalable=no">
	<title>OpenFund - Invest</title>
	<link rel="icon" href="/static/app_assets/open_fund_logo.png">
	<link rel="stylesheet" href="/static/css/style.css">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
	<!-- nav bar -->
	<div class="nav-bar">
		<div class="app-logo" onclick="window.location.href='/'">
			<img src="/static/app_assets/open_fund_logo.png" alt="OpenFund logo">
			<p>OpenFund</p>
		</div>
		<div class="nav-bar-select">
			<div class="link"><a href="/invest">Invest</a></div>
			<div class="link"><a href="/blog">Blog</a></div>
			<div class="link"><a href="/document">Document</a></div>
		</div>
		<div class="authenticate">
			<button class="connect-wallet" id="connect-btn">
				<i class="fa-solid fa-wallet"></i>
			</button>
			<button class="sign-in-up">Log In/Sign Up</button>
		</div>
		<button class="menu-btn">
			<i class="fa-solid fa-bars"></i>
		</button>
		<div class="nav-bar-mobile hidden">
			<div class="link-mobile"><a href="/invest">Invest</a></div>
			<hr>
			<div class="link-mobile"><a href="/blog">Blog</a></div>
			<hr>
			<div class="link-mobile"><a href="/document">Document</a></div>
			<button class="connect-wallet-mobile" id="connect-btn-mobile">
				Connect wallet<i class="fa-solid fa-wallet"></i>
			</button>
			<button class="sign-in-up-mobile">Log In/Sign Up</button>
		</div>
	</div>
	<!-- end nav bar -->
	<!-- connect wallet -->
	<div class="overlay hidden" id="overlay">
		<div class="connect-wallet-box hidden" id="connect-wallet-box">
			<button class="close-connect-wallet-btn" id="close-connect-wallet-btn">
				<i class="fa-solid fa-xmark"></i>
			</button>
			<h1>Connect wallet</h1>
			<p>(For investors only)</p>
			<hr style="width: 100px;">
			<button class="wallet_intergrated"><img class="wallet-icon-logo" src="/static/app_assets/metamask.png" alt="Metamask logo">Metamask</button>
			<button class="wallet_intergrated"><img class="wallet-icon-logo" src="/static/app_assets/binance_web3.png" alt="Metamask logo">Binance Web3</button>
			<button class="wallet_intergrated"><img class="wallet-icon-logo" src="/static/app_assets/okx_web3.png" alt="Metamask logo">OKX Web3</button>
			<button class="wallet_intergrated"><img class="wallet-icon-logo" src="/static/app_assets/trust_wallet.png" alt="Metamask logo">Trust Wallet</button>
			<button class="wallet_intergrated"><img class="wallet-icon-logo" src="/static/app_assets/coinbase_wallet.png" alt="Metamask logo">Coinbase Wallet</button>
			<p>By connecting a wallet, you agree to the OpenFund’s <a style="color:black" href="/term-service">Terms of Service</a> and consent to its <a style="color:black" href="/privacy-policy">Privacy Policy</a>.</p>
		</div>
	</div>
	<style>
		.token-launch-banner{
			width: 100%;
			height: 50vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding-top: 50px;
			background-image: url(/static/app_assets/token-launch-banner.png);
			background-size: cover;
		}
		.token-launch-banner h1{
			font-size: clamp(3rem, 5vw, 5rem);
			margin: 0;
			color: white;
		}
		.token-launch-banner p{
			font-size: clamp(0.8rem, 2vw, 2rem);
			margin: 0;
			color: white;
		}
		.project-select{
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgb(245, 245, 245);
		}
		.select-project-btn{
			border: solid 1px rgb(0, 1, 69);
			background-color: white;
			border-radius: 20px;
			padding: 10px 15px;
			cursor: pointer;
			margin: 20px 5px;
		}
		.project-list{
			width: 100%;
			display: flex;
			padding: 30px 0px;
			align-items: center;
			justify-content: center;
		}
		.project{
			width: clamp(330px, 90%, 1200px);
			border: solid 1px black;
			border-radius: 30px;
			height: 300px
		}
	</style>
	<div class="token-launch-banner">
		<h1>Invest</h1>
		<p>Get tokens before they list on other exchanges.</p>
	</div>
	<div class="project-select">
		<button class="select-project-btn" id="select-active-project-btn" onclick="updateProjectList('active')">Active</button>
		<button class="select-project-btn" id="select-completed-project-btn" onclick="updateProjectList('completed')">Completed</button>
		<button class="select-project-btn" id="select-invested-project-btn" onclick="updateProjectList('invested')">Invested</button>
	</div>
	<div class="project-list">
		<div class="project">

		</div>
	</div>
	<div class="footer">
	<div class="app-info">
		<div class="app-logo-footer" onclick="window.location.href='/'">
			<img src="/static/app_assets/open_fund_logo.png" alt="OpenFund logo">
			<p>OpenFund</p>
		</div>
		<div class="term-links">
			<a href="/privacy_policy">Privacy</a>
			<a href="/terms">Terms</a>
			<a href="/document">Document</a>
			<a href="/blog">Blog</a>
			<a href="/help_center">Help Center</a>
		</div>
		<div class="community-links">
			<i class="fa-brands fa-square-x-twitter" onclick="window.location.href='https://x.com'"></i>
			<i class="fa-brands fa-telegram" onclick="window.location.href='https://telegram.com'"></i>
			<i class="fa-brands fa-facebook" onclick="window.location.href='https://facebook.com'"></i>
			<i class="fa-solid fa-envelope" onclick="window.location.href='mailto:support@openfund.live'"></i>
		</div>
	</div>
	<div class="term-links-mobile">
		<a href="/privacy_policy">Privacy</a>
		<a href="/terms">Terms</a>
		<a href="/document">Document</a>
		<a href="/blog">Blog</a>
		<a href="/help_center">Help Center</a>
	</div>
	</div>
</body>
	<script>
		//connect
		const connect_wallet_btn = document.getElementById("connect-btn");
		const connect_wallet_btn_mobile = document.getElementById("connect-btn-mobile");
		const close_wallet_btn = document.getElementById("close-connect-wallet-btn");
		const connect_box = document.getElementById("connect-wallet-box");
		const overlay = document.getElementById("overlay");

		connect_wallet_btn.addEventListener("click", function() {
		connect_box.classList.remove("hidden");
		overlay.classList.remove("hidden");
		});

		connect_wallet_btn_mobile.addEventListener("click", function() {
		connect_box.classList.remove("hidden");
		overlay.classList.remove("hidden");
		});

		close_wallet_btn.addEventListener("click", function() {
		connect_box.classList.add("hidden");
		overlay.classList.add("hidden");
		});

		const menuBtn = document.querySelector('.menu-btn');
		const mobileNav = document.querySelector('.nav-bar-mobile');

		menuBtn.addEventListener('click', () => {
		mobileNav.classList.toggle('hidden');
		const icon = document.querySelector(".menu-btn i");
		if (icon.classList.contains("fa-bars")){
			icon.classList.replace("fa-bars", "fa-xmark");
		} else {
			icon.classList.replace("fa-xmark", "fa-bars");
		}

		});

		//select projects
		const select_active_project_btn = document.getElementById("select-active-project-btn");
		const select_completed_project_btn = document.getElementById("select-completed-project-btn");
		const select_invested_project_btn = document.getElementById("select-invested-project-btn");

		function updateProjectList(selected){
			if (selected == 'active'){
				select_active_project_btn.style.backgroundColor = "rgb(0, 1, 69)";
				select_active_project_btn.style.color = "white";
				select_completed_project_btn.style.backgroundColor = "white";
				select_completed_project_btn.style.color = "black"
				select_invested_project_btn.style.backgroundColor = "white";
				select_invested_project_btn.style.color = "black"
			}

			if (selected == 'completed'){
				select_completed_project_btn.style.backgroundColor = "rgb(0, 1, 69)";
				select_completed_project_btn.style.color = "white";
				select_active_project_btn.style.backgroundColor = "white";
				select_active_project_btn.style.color = "black"
				select_invested_project_btn.style.backgroundColor = "white";
				select_invested_project_btn.style.color = "black"
			}

			if (selected == 'invested'){
				select_invested_project_btn.style.backgroundColor = "rgb(0, 1, 69)";
				select_invested_project_btn.style.color = "white";
				select_active_project_btn.style.backgroundColor = "white";
				select_active_project_btn.style.color = "black"
				select_completed_project_btn.style.backgroundColor = "white";
				select_completed_project_btn.style.color = "black"
			}
		}
		updateProjectList('active')
	</script>
</html>