sudo nano /etc/systemd/system/webhook-github.service

[Unit]
Description=Gunicorn instance for webhook github auto deployment
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/root/openfund/
Environment="PATH=/root/openfund/env/bin"
ExecStart=/root/openfund/env/bin/python3 auto_deploy_webhook
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
